apiVersion: v1
data:
  ca.json: |-
    {
      "root": "/home/step/certs/root_ca.crt",
      "federatedRoots": [],
      "crt": "/home/step/certs/intermediate_ca.crt",
      "key": "/home/step/secrets/intermediate_ca_key",
      "address": ":9000",
      "dnsNames": [
          "ca.prod.ryezone.com",
          "ryezone-ca-step-certificates.smallstep-ca.svc.cluster.local",
          "127.0.0.1"
      ],
      "db": {
        "type": "mysql",
        "dataSource": "stepca:{{ lookup('password', 'secrets/step-ca_user_password chars=ascii_letters,digits length=64') }}@tcp(mariadb:3306)/",
        "database": "smallstepca"
      },
      "logger": {
          "format": "text"
      },
      "authority": {
          "provisioners": []
      },
      "tls": {
          "cipherSuites": [
            "TLS_ECDHE_ECDSA_WITH_CHACHA20_POLY1305",
            "TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256"
          ],
          "minVersion": 1.2,
          "maxVersion": 1.2,
          "renegotiation": false
      }
    }
  defaults.json: |-
    {
      "ca-url": "https://ryezone-ca-step-certificates.smallstep-ca.svc.cluster.local",
      "ca-config": "/home/step/config/ca.json",
      "fingerprint": "1f5de65b82f4ed3f506a605afad35214c2802e4c2d36bc8dd8c964fb581b8fcd",
      "root": "/home/step/certs/root_ca.crt"
    }
kind: ConfigMap
metadata:
  labels:
    app.kubernetes.io/instance: ryezone-ca
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/name: step-certificates
    app.kubernetes.io/version: 0.15.13
    helm.sh/chart: step-certificates-1.15.13
  name: ryezone-ca-step-certificates-config
  namespace: smallstep-ca