apiVersion: v1
data:
  intermediate_ca_key: |
    {{ smallstep_intermediate_ca_key.privatekey | indent(4) }}
  root_ca_key: |
    {{ smallstep_root_ca_key.privatekey | indent(4) }}
  ssh_host_ca_key: |
    {{ smallstep_ssh_host_ca_key.content | b64decode | indent(4) }}
  ssh_user_ca_key: |
    {{ smallstep_ssh_user_ca_key.content | b64decode | indent(4) }}
kind: ConfigMap
metadata:
  labels:
    app.kubernetes.io/instance: {{ stepca_stepca_helm_release_name }}
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/name: step-certificates
    app.kubernetes.io/version: {{ stepca_stepca_helm_app_version }}
    helm.sh/chart: step-certificates-{{ stepca_stepca_helm_chart_version }}
  name: {{ stepca_stepca_helm_release_name }}-step-certificates-secrets
  namespace: {{ stepca_k8s_namespace }}
