apiVersion: v1
data:
  ca.json: |-
    {
      "root": "/home/step/certs/root_ca.crt",
      "federatedRoots": [],
      "crt": "/home/step/certs/intermediate_ca.crt",
      "key": "/home/step/secrets/intermediate_ca_key",
      "address": "0.0.0.0:9000",
      "dnsNames": [
        "{{ stepca_dns_name }}",
        "{{ stepca_stepca_helm_release_name }}-step-certificates.{{ stepca_k8s_namespace }}.svc.cluster.local",
        "127.0.0.1"
      ],
      "db": {
        "type": "mysql",
        "dataSource": "{{ stepca_mariadb_user_username }}:{{ stepca_mariadb_user_password }}@tcp({{ stepca_mariadb_helm_release_name }}:3306)/",
        "database": "{{ stepca_mariadb_database }}"
      },
      "logger": {
        "format": "text"
      },
      "authority": {
        "claims": {
          "minTLSCertDuration": "5m",
          "maxTLSCertDuration": "24h",
          "defaultTLSCertDuration": "24h",
          "disableRenewal": false,
          "minHostSSHCertDuration": "5m",
          "maxHostSSHCertDuration": "1680h",
          "defaultHostSSHCertDuration": "720h",
          "minUserSSHCertDuration": "5m",
          "maxUserSSHCertDuration": "24h",
          "defaultUserSSHCertDuration": "16h"
        },
        "provisioners": [
          {
            "type": "ACME",
            "name": "acme",
            "forceCN": true,
            "claims": {},
            "options": {
              "x509": {
                "templateFile": "templates/certs/x509/default.tpl"
              }
            }
          },
          {
            "type": "OIDC",
            "name": "{{ stepca_oidc_name }}",
            "clientID": "{{ stepca_oidc_client_id }}",
            "clientSecret": "{{ stepca_oidc_client_secret }}",
            "configurationEndpoint": "{{ stepca_oidc_configuration_endpoint }}",
            "admins": {{ stepca_oidc_admins | to_json }},
            "domains": {{ stepca_oidc_domains | to_json }},
            "listenAddress": "0.0.0.0:{{ stepca_nodeport }}",
            "enableSSHCA": true
          }
        ]
      },
      "tls": {
        "cipherSuites": [
          "TLS_ECDHE_ECDSA_WITH_CHACHA20_POLY1305",
          "TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256"
        ],
        "minVersion": 1.2,
        "maxVersion": 1.2,
        "renegotiation": false
      }
    }
  defaults.json: |-
    {
      "ca-url": "https://{{ stepca_stepca_helm_release_name }}-step-certificates.{{ stepca_k8s_namespace }}.svc.cluster.local",
      "ca-config": "/home/step/config/ca.json",
      "fingerprint": "{{ stepca_root_ca_fingerprint }}",
      "root": "/home/step/certs/root_ca.crt"
    }
kind: ConfigMap
metadata:
  labels:
    app.kubernetes.io/instance: {{ stepca_stepca_helm_release_name }}
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/name: step-certificates
    app.kubernetes.io/version: 0.15.13
    helm.sh/chart: step-certificates-{{ stepca_stepca_helm_chart_version }}
  name: {{ stepca_stepca_helm_release_name }}-step-certificates-config
  namespace: {{ stepca_k8s_namespace }}