apiVersion: v1
data:
  password: {{ stepca_intermediate_ca_password | b64encode }}
kind: Secret
metadata:
  labels:
    app.kubernetes.io/instance: {{ stepca_stepca_helm_release_name }}
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/name: step-certificates
    app.kubernetes.io/version: 0.15.13
    helm.sh/chart: step-certificates-{{ stepca_stepca_helm_chart_version }}
  name: {{ stepca_stepca_helm_release_name }}-step-certificates-ca-password
  namespace: {{ stepca_k8s_namespace }}
type: Opaque
