apiVersion: v1
data:
  password: {{ lookup('password', 'secrets/smallstep_intermediate_ca_key_password chars=ascii_letters,digits length=256') | b64encode }}
kind: Secret
metadata:
  labels:
    app.kubernetes.io/instance: ryezone-ca
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/name: step-certificates
    app.kubernetes.io/version: 0.15.13
    helm.sh/chart: step-certificates-1.15.13
  name: ryezone-ca-step-certificates-ca-password
  namespace: smallstep-ca
type: Opaque
