apiVersion: v1
data:
  intermediate_ca.crt: |
    {{ smallstep_intermediate_ca_certificate.certificate | indent(4) }}
  root_ca.crt: |
    {{ smallstep_root_ca_certificate.certificate | indent(4) }}
  ssh_host_ca_key.pub: |
    {{ smallstep_ssh_host_ca_cert.content | b64decode | indent(4) }}
  ssh_user_ca_key.pub: |
    {{ smallstep_ssh_user_ca_cert.content | b64decode | indent(4) }}
kind: ConfigMap
metadata:
  labels:
    app.kubernetes.io/instance: ryezone-ca
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/name: step-certificates
    app.kubernetes.io/version: 0.15.13
    helm.sh/chart: step-certificates-1.15.13
  name: ryezone-ca-step-certificates-certs
  namespace: smallstep-ca
